---
layout: layout
title: "Sebastian Spier"
---

<div class="content">
	
	<div class="related">
	  <ul>
	  {% for post in site.posts %}

		  {% if post.categories contains 'idea' or post.categories contains 'project' %}
		  {% else %}

		  	<li>
				<a href="{{ post.url }}">
					<div>
						<span class="title">{{ post.title }} </span>
	      				<span class="date">{{ post.date | date: "%B %e, %Y" }}</span>
					</div>
				</a>
	    	</li>
		  {% endif %}

	  {% endfor %}
	  </ul>
  </div>

</div>
