---
layout: layout
title: "Writings"
---

<div class="content">
  <div id="ideas" class="related">
    
    <h1>Writings</h1>

    <p>
      Texts that I have published outside of this blog.
    </p>

    <ul>
    {% for post in site.categories.writing %}
      <li>
          <span>{{ post.date | date: "%B %e, %Y" }}</span>
          {% if post.external-url %} 
            <img src="http://g.etfv.co/{{ post.external-url }}" alt="Google" width="16" height="16" />
            <a target="_blank" href="{{ post.external-url }}">{{ post.title }}</a>
          {% else %}
            <a href="{{ post.url }}">{{ post.title }}</a>
          {% endif %}
      </li>
    {% endfor %}
    </ul>

  </div>
</div>
